.input-nilp {
  width: 60%;
  height: 40px;
  margin-top: 20px;
  border: 1px solid gray;
}
.input-nilp:focus {
  width: 60%;
  height: 40px;
  outline: none;
  border: 1px solid gray;
}

.input-nilp2 {
  width: 60%;
  height: 80px;
  margin-top: 20px;
  border: 1px solid gray;
}
.input-nilp2:focus {
  width: 60%;
  height: 80px;
  outline: none;
  border: 1px solid gray;
}
